@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well">
    <h2>@ViewBag.Title.</h2>
</div>

<section class="well-sm btn-default disabled">
    <div>
        <div style="margin: 0 auto;" class="text-center">
            <img src="~/Content/images/logo.png" style="min-height:300px;" />
        </div>
    </div>
    <div class="text-center"><h4 style="color:ghostwhite;"><b>BuahSayur</b> application was created by:</h4></div><br />
    <div style="display:flex;">
        <div style="width:10%;"></div>
        <div style="width:20%;">
            <div style="color:ghostwhite;font-size: 20px;">
                <pre>
Master:
    Province, 
    City, 
    Customer
Transaction:
    Delivery Order,
    Shipment</pre>
            </div>
        </div>
        <div style="margin: 0 auto;">
            <div class="scontainer">
                <img src="~/Content/images/Foto.jpg" alt="Hasan Khairullah" class="img-circle" style="max-height:150px;" />
                <div class="soverlay">
                    <div class="stext">Hasan Khairullah</div>
                </div>
            </div>
            <h6 class="text-center" style="color:ghostwhite;">Hasan Khairullah</h6>
        </div>
        <div style="width:3%;"></div>
        <div style="margin: 0 auto;">
            <div class="scontainer">
                <img src="~/Content/images/circle-IMG_3289e-min.jpg" alt="Ilham Insan kamil" class="img-circle" style="max-height:150px;" />
                <div class="soverlay">
                    <div class="stext">Ilham Insan kamil</div>
                </div>
            </div>
            <h6 class="text-center" style="color:ghostwhite;">Ilham Insan kamil</h6>
        </div>
        <div style="width:20%;">
            <div style="color:ghostwhite;font-size: 20px;">
                <pre>
Master:
    Item, 
    Supplier
Transaction:
    Purchasing 
    Order,
    Return</pre>
            </div>
        </div>
        <div style="width:10%;"></div>
    </div>
    <div class="text-center"><h4 style="color:ghostwhite;">Entity Relationship Diagram: </h4></div><br />
    <div>
        <div style="margin: 0 auto;" class="text-center">
            <img src="~/Content/images/erd.png" style="min-height:300px;" />
        </div>
    </div>
</section>
