@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="background-kamil"></div>

<div class="jumbotron ">
    <h1>Selamat Datang</h1>
    <p class="lead">Silahkan berbelanja buah dan sayur segar atau ingin menjual sayur dan buah kepada kami.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-4 breadcrumb" style="display:flex;">
        <div style="width:30%;">
            @*<span class="glyphicon glyphicon-euro"></span>*@
            <span class="glyphicon glyphicon-barcode" style="position: relative;float: left;top: 50%;left: 50%;transform: translate(-50%, -50%);"></span>
        </div>
        <div style="width:70%">
            <h2>Jual</h2>
            <p>
                Saya petani dan ingin menjual hasil panen.
            </p>
            <p class="pull-right"><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4 breadcrumb" style="display:flex;">
        @*<div style="width:30%">
            <span class="glyphicon glyphicon-shopping-cart" style="position: relative;float: left;top: 50%;left: 50%;transform: translate(-50%, -50%);"></span>
        </div>
        <div style="width:70%">
            <h2>Beli</h2>
            <p>Saya ingin membeli buah dan sayur segar.</p>
            <p class="pull-right"><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>*@
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
        </blockquote>
    </div>
    <div class="col-md-1">

    </div>
</div>
