@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron ">
    <h1>Selamat Datang</h1>
    <p class="lead">Silahkan berbelanja buah dan sayur segar atau ingin menjual sayur dan buah kepada kami.</p>
    <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Pelajari Lebih Banyak &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-4 breadcrumb">
        <h2>Jual <span class="glyphicon glyphicon-barcode"></span></h2>
        <p>Saya petani dan ingin menjual hasil panen.</p>
        <p><a class="btn btn-default" href="http://localhost:12255/Purchasing">Mulai Menjual &raquo;</a></p>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4 breadcrumb">
        <h2>Beli <span class="glyphicon glyphicon-shopping-cart"></span></h2>
        <p>Saya ingin membeli buah dan sayur segar.</p>
        <p><a class="btn btn-default" href="http://localhost:12255/Selling">Mulai Berbelanja &raquo;</a></p>
    </div>
    <div class="col-md-1">

    </div>
</div>
